/*

Copyright © 2016-2018 NGINE NETWORKS SARL

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the “Software”), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

*/

html {
	overflow: hidden;
}

body {
	/*background: #333;
	width: 1140px;
	height: 640px;*/
	margin: 0 auto;
	width: 1280px;
	height: 720px;
	color:#666666;
	overflow: hidden;
}

body {
 margin:0;
	
	font-family: 'Josefin Sans', sans-serif;
}
a {
	outline:none;
}
a img {
	width:200px;
	border:0;
	display:block;
}


.page {
	width:100%;
	margin:0 auto;
	padding:0px 0 35px;
}
.header {
 height:15%;
 width:100%;
  text-align: center;
  background: url("header1.jpg");
  background-repeat: no-repeat;
  color: white;
  font-size: 30px;
  position:fixed;
}
h1
{
	margin-top:0;
	font-family: 'Monoton', cursive;
	
	color: black;
}
h3{
	color:black;
}

.sidenav {
    height: 100%;
    width: 280px;
    position: fixed;
    z-index: -1;
    top:0%;
    left: 0;
    background-color: #1f1f1f;
    overflow-x: hidden;
    padding-top: 50px;
}
.sidenav ul{
	float:left;
	list-style:none;
	margin:20px,0;

	padding:20px 50px 0 0;
}
.sidenav ul li {
	float:left;
	margin:40px 0 0 0px;
}
.sidenav ul li a {
   color:white;
	font-family: 'Josefin Sans', sans-serif;
	font-size:40px;
	font-weight:400;
	letter-spacing:.025em;
	line-height:30px;
	text-decoration:none;
	text-transform:uppercase;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.menuimg {
	width: 90px;
	height: 90px;
	position: relative;
	left: 10px;
	top: 0;
	padding: 25px;
	
}

.menuimgborder {
	width: 90px;
	height: 90px;
	position: relative;
	left: 10px;
	top: 0;
	padding: 15px;
	border: 2px solid #999999;
	border-radius: 25px;
	background: rgba(1,1,1,0.5);
	 box-shadow: 0 0 10px #9ecaed;
}
li .videoimg {
	width: 90px;
	height: 90px;
	position: relative;
	border:2px solid;
	border-style: dotted;
	border-color:black;
	left: 10px;
	top: 0;
	padding: 25px;
	
}

li .videoimgborder {
	width: 90px;
	height: 90px;
	position: relative;
	left: 10px;
	top: 0;
	padding: 15px;
	border: 2px solid #999999;
	border-radius: 25px;
	border-color:#9ecaed;
	background: rgba(1,1,1,1);
	 border-style: dashed;
	 box-shadow: 0 0  #9ecaed;
}
.body.home div:first-child .featured {
	background:url("featured.jpg") no-repeat;
	border:0;
	float:bottom;
	height:450px;
	margin-left:25%;
	margin-top:90px;
	padding:0;
	position:absolute;
	width:700px;
}
.body.home div:first-child .featured div:first-child {
	background:url("images/bg-transparent.png");
	border:0;
	bottom:11px;
	height:120px;
	left:20px;
	margin:0;
	overflow:hidden;
	padding:0;
	position:absolute;
	right:1px;
	width:679px;
}
h2{
	margin-bottom:2px;
	float:bottom;
}
.body.home div:first-child .featured div:first-child h2 {
	color:#ff7500;
	float:left;
	font-family: 'Josefin Sans', sans-serif;
	font-size:50px;
	font-weight:400;
	line-height:38px;
	margin:0 20px 0 0px;
	padding:18px 0 0;
}
.body.home div.sidebar .news, .body.news div.sidebar .news, .body.news-single div.sidebar .news, .body.team div.sidebar .news, .body.team-single div.sidebar .news, .body.videos div.sidebar .news, .body.about div.sidebar .news, .body.schedule div.sidebar .news {
	background:none #1f1f1f;
	float:right;
	margin:90px 0 15px;
	overflow:hidden;
	width:220px;
	border:0;
}
.body.home div.sidebar .news span, .body.news div.sidebar .news span, .body.news-single div.sidebar .news span, .body.team div.sidebar .news span:first-child, .body.team-single div.sidebar .news span, .body.videos div.sidebar .news span, .body.about div.sidebar .news span:first-child, .body.schedule div.sidebar .news span {
	background:url("images/icons.png") no-repeat 19px -60px #ff7500;
	color:#1f1f1f;
	display:block;
	font-family: 'Josefin Sans', sans-serif;
	font-size:15px;
	height:47px;
	line-height:44px;
	padding:0 0 0 47px;
	text-transform:uppercase;
}
.body.home div.sidebar .news ul, .body.news div.sidebar .news ul, .body.news-single div.sidebar .news ul, .body.team div.sidebar .news ul, .body.team-single div.sidebar .news ul, .body.videos div.sidebar .news ul, .body.about div.sidebar .news ul, .body.schedule div.sidebar .news ul {
	list-style:none;
	margin:0;
	padding:0 0 1px;
}
.body.home div.sidebar .news ul li:hover, .body.home div.sidebar .section ul li:hover, .body.news div.sidebar .news ul li:hover, .body.news div.sidebar .section ul li:hover, .body.news-single div.sidebar .news ul li:hover, .body.news-single div.sidebar .section ul li:hover, .body.team div.sidebar .news ul li:hover, .body.team div.sidebar .section ul li:hover, .body.team-single div.sidebar .news ul li:hover, .body.team-single div.sidebar .section ul li:hover, .body.videos div.sidebar .news ul li:hover, .body.videos div.sidebar .section ul li:hover, .body.about div.sidebar .news ul li:hover, .body.about div.sidebar .section ul li:hover, .body.schedule div.sidebar .news ul li:hover, .body.schedule div.sidebar .section ul li:hover {
	background:url(../images/bg-list-hover.png) repeat-x;
}
.body.home div.sidebar .news ul li, .body.news div.sidebar .news ul li, .body.news-single div.sidebar .news ul li, .body.team div.sidebar .news ul li, .body.team-single div.sidebar .news ul li, .body.videos div.sidebar .news ul li, .body.about div.sidebar .news ul li, .body.schedule div.sidebar .news ul li {
	background:url("images/bg-list.png") repeat-x left bottom;
	height:54px;
	padding:0 20px;
	border:0;
}
.body.home div.sidebar .news ul li a, .body.news div.sidebar .news ul li a, .body.news-single div.sidebar .news ul li a, .body.team div.sidebar .news ul li a, .body.team-single div.sidebar .news ul li a, .body.videos div.sidebar .news ul li a, .body.about div.sidebar .news ul li a, .body.schedule div.sidebar .news ul li a {
	background:url("images/icon-arrow-right.pn") no-repeat left 6px;
	color:#fff;
	display:inline-block;
	float:none;
	font-family: 'Josefin Sans', sans-serif;
	font-size:14px;
	font-weight:700;
	line-height:18px;
	margin:10px 0 1px;
	padding:0 0 0 10px;
	text-decoration:none;
	text-transform:none;
}
.body.home div.sidebar .news ul li span, .body.news div.sidebar .news ul li span, .body.news-single div.sidebar .news ul li span, .body.team div.sidebar .news ul li span, .body.team-single div.sidebar .news ul li span, .body.videos div.sidebar .news ul li span, .body.about div.sidebar .news ul li span, .body.schedule div.sidebar .news ul li span {
	background:none;
	color:#808282;
	font-family: 'Josefin Sans', sans-serif;
	font-size:12px;
	font-weight:400;
	line-height:18px;
	padding:0 0 0 10px;
	text-transform:none;
	height: auto;
}
.body.home div.sidebar .news a, .body.home div.sidebar .section a, .body.news div.sidebar .news a, .body.news div.sidebar .section a, .body.news-single div.sidebar .news a, .body.news-single div.sidebar .section a, .body.team div.sidebar .news a, .body.team div.sidebar .section a, .body.team-single div.sidebar .news a, .body.team-single div.sidebar .section a, .body.videos div.sidebar .news a, .body.videos div.sidebar .section a, .body.about div.sidebar .news a, .body.about div.sidebar .section a, .body.schedule div.sidebar .news a, .body.schedule div.sidebar .section a {
	color:#ff7500;
	float:right;
	font-family: 'Josefin Sans', sans-serif;
	font-size:10px;
	line-height:18px;
	margin:2px 20px 4px 0;
	text-transform:uppercase;
}
.body.home div.sidebar .news > a:hover, .body.home div.sidebar .section > a:hover, .body.news div.sidebar .news > a:hover, .body.news div.sidebar .section > a:hover, .body.news-single div.sidebar .news > a:hover, .body.news-single div.sidebar .section > a:hover, .body.team div.sidebar .news > a:hover, .body.team div.sidebar .section > a:hover, .body.team-single div.sidebar .news > a:hover, .body.team-single div.sidebar .section > a:hover, .body.videos div.sidebar .news > a:hover, .body.videos div.sidebar .section > a:hover, .body.about div.sidebar .news > a:hover, .body.about div.sidebar .section > a:hover, .body.schedule div.sidebar .news > a:hover, .body.schedule div.sidebar .section > a:hover, .body.home div.sidebar div > a:hover, .body.news div.sidebar div > a:hover, .body.news-single div.sidebar div > a:hover, .body.team div.sidebar div > a:hover, .body.team-single div.sidebar div > a:hover, .body.schedule div.sidebar div > a:hover, .body.videos div.sidebar div > a:hover {
	color:#ff9c00;
}
.body.videos div:first-child {
	background:none repeat scroll 0 0 transparent;
	margin-left:300px;
	float:left;
	
	padding:20px 0 24px;
	width:100%;
}
.body.videos div:first-child span {
	background:url(../images/icons.png) no-repeat scroll 20px -458px #030303;
	color:#FF7500;
	display:block;
	font-family: 'Josefin Sans', sans-serif;
	font-size:30px;
	height:47px;
	line-height:44px;
	margin-top:6%;
	padding:10px 0 0 65px;
	width:100%;
	text-transform:uppercase;
}
.body.videos div:first-child div h3 {
	color:#026593;
	font-family: 'Josefin Sans', sans-serif;
	font-size:20px;
	font-weight:400;
	line-height:24px;
	text-decoration:none;
	text-transform:uppercase;
}
.body.videos div:first-child div p {
	color:#5E5E5E;
	font-size:12px;
	font-weight:700;
	line-height:18px;
	margin:14px 0 0;
}
.body.videos div:first-child div.section span {
	background:none repeat scroll 0 0 #030303;
	font-size:18px;
	height:37px;
	line-height:37px;
	padding:0 0 0 20px;
}
.body.videos div:first-child div.section ul {
	clear:both;
	list-style:none;
	margin:17px 0 0;
	overflow:hidden;
	padding:0 15px;
}
.body.videos div:first-child div.section ul li {
	background:none #1f1f1f;
	border:0;
	float:left;
	margin:0 0 0 13px;
	min-height:293px;
	padding:10px;
	width:200px;
}
.body.home div:first-child div div:first-child ul li:first-child, .body.home div:first-child div div ul li:first-child, .body.news div:first-child ul li div h3, .body.videos div:first-child div.section ul li:first-child {
	margin:0;
}
.body.home div:first-child div div:first-child ul li a img:hover, .body.home div:first-child div div ul li a img:hover, .body.news div:first-child ul li a img:hover, .body.team div:first-child div.section ul li a img:hover, .body.videos div:first-child div.section ul li a img:hover {
	filter:alpha(opacity=80);/* Needed for IE8 and old versions */
	opacity:0.8;
}
.body.home div:first-child div div:first-child ul li h4, .body.videos div:first-child div.section ul li h4 {
	color:#026593;
	font-family: 'Josefin Sans', sans-serif;
	font-size:12px;
	line-height:18px;
	margin:10px 0 0;
	text-transform:uppercase;
}
.body.home div:first-child div div:first-child ul li h4 a, .body.home div:first-child div div ul li h4 a, .body.videos div:first-child div.section ul li h4 a {
	color:#026593;
	text-decoration:none;
}
.body.home div:first-child div div:first-child ul li h4 a:hover, .body.home div:first-child div div ul li h4 a:hover, .body.team div:first-child div h3 a:hover, .body.videos div:first-child div h3 a:hover, .body.videos div:first-child div.section ul li h4 a:hover {
	color:#FF7500;
	text-decoration:underline;
}
.body.home div:first-child div div:first-child ul li p, .body.videos div:first-child div.section ul li p {
	color:#fbfbf4;
	font-family: 'Josefin Sans', sans-serif;
	font-size:12px;
	line-height:18px;
	margin:1px 0 4px;
}
.body.home div.sidebar .section, .body.news div.sidebar .section, .body.news-single div.sidebar .section, .body.team div.sidebar .section, .body.team-single div.sidebar .section, .body.videos div.sidebar .section, .body.about div.sidebar .section, .body.schedule div.sidebar .section {
	background:none repeat scroll 0 0 #1F1F1F;
	float:none;
	overflow:hidden;
	width:220px;
}
.body.home div.sidebar .section span, .body.news div.sidebar .section span, .body.news-single div.sidebar .section span, .body.team div.sidebar .section span, .body.team-single div.sidebar .section span, .body.videos div.sidebar .section span, .body.about div.sidebar .section span, .body.schedule div.sidebar .section span {
	background:url(../images/icons.png) no-repeat scroll 19px -100px #FF7500;
	color:#1F1F1F;
	display:block;
	font-family: 'Josefin Sans', sans-serif;
	font-size:15px;
	height:4px;
	line-height:44px;
	padding:0 0 0 47px;
	text-transform:uppercase;
}
.body.home div.sidebar .section ul, .body.news div.sidebar .section ul, .body.news-single div.sidebar .section ul, .body.team div.sidebar .section ul, .body.team-single div.sidebar .section ul, .body.videos div.sidebar .section ul, .body.about div.sidebar .section ul, .body.schedule div.sidebar .section ul {
	list-style:none outside none;
	margin:0;
	padding:0 0 5px;
}
.body.home div.sidebar .section ul li, .body.news div.sidebar .section ul li, .body.news-single div.sidebar .section ul li, .body.team div.sidebar .section ul li, .body.team-single div.sidebar .section ul li, .body.videos div.sidebar .section ul li, .body.about div.sidebar .section ul li, .body.schedule div.sidebar .section ul li {
	background:url(../images/bg-list.png) repeat-x scroll left bottom transparent;
	height:54px;
	padding:0 20px;
}
.body.home div.sidebar .section ul li a, .body.news div.sidebar .section ul li a, .body.news-single div.sidebar .section ul li a, .body.team div.sidebar .section ul li a, .body.team-single div.sidebar .section ul li a, .body.videos div.sidebar .section ul li a, .body.about div.sidebar .section ul li a, .body.schedule div.sidebar .section ul li a {
	color:#fff;
	display:inline-block;
	float:none;
	font-family: 'Josefin Sans', sans-serif;
	font-size:14px;
	font-weight:700;
	line-height:18px;
	margin:10px 0 1px;
	padding:0 0 0 10px;
	text-decoration:none;
	text-transform:none;
}
.body.home div.sidebar .section ul li span, .body.news div.sidebar .section ul li span, .body.news-single div.sidebar .section ul li span, .body.team div.sidebar .section ul li span, .body.team-single div.sidebar .section ul li span, .body.videos div.sidebar .section ul li span, .body.about div.sidebar .section ul li span, .body.schedule div.sidebar .section ul li span {
	background:none repeat scroll 0 0 transparent;
	color:#808282;
	font-family: 'Josefin Sans', sans-serif;
	font-size:12px;
	font-weight:400;
	line-height:18px;
	padding:0 0 0 10px;
	text-transform:none;
}
.body.home div.sidebar div span, .body.news div.sidebar div span, .body.news-single div.sidebar div span, .body.team div.sidebar div span, .body.team-single div.sidebar div span, .body.videos div.sidebar div span, .body.about div.sidebar div span, .body.schedule div.sidebar div span {
	background:url(../images/icons.png) no-repeat scroll 19px -137px #FF7500;
	color:#1F1F1F;
	display:block;
	font-family: 'Josefin Sans', sans-serif;
	font-size:15px;
	height:47px;
	line-height:44px;
	padding:0 0 0 47px;
	text-transform:uppercase;
}
.body.home div.sidebar div ul, .body.news div.sidebar div ul, .body.news-single div.sidebar div ul, .body.team div.sidebar div ul, .body.team-single div.sidebar div ul, .body.videos div.sidebar div ul, .body.about div.sidebar div ul, .body.schedule div.sidebar div ul {
	list-style:none outside none;
	margin:0;
	padding:0;
}
.body.home div.sidebar div ul li:hover, .body.news div.sidebar div ul li:hover, .body.news-single div.sidebar div ul li:hover, .body.team div.sidebar div ul li:hover, .body.team-single div.sidebar div ul li:hover, .body.videos div.sidebar div ul li:hover, .body.about div.sidebar div ul li:hover, .body.schedule div.sidebar div ul li:hover {
	background:url(../images/bg-list-hover.png) repeat-x left bottom #2b2b2b;
}
.body.home div.sidebar div ul li, .body.news div.sidebar div ul li, .body.news-single div.sidebar div ul li, .body.team div.sidebar div ul li, .body.team-single div.sidebar div ul li, .body.videos div.sidebar div ul li, .body.about div.sidebar div ul li, .body.schedule div.sidebar div ul li {
	background:url(../images/bg-list.png) repeat-x left bottom #1f1f1f;
	height:auto;
	padding:0 20px;
}
.body.home div.sidebar div ul li p, .body.news div.sidebar div ul li p, .body.news-single div.sidebar div ul li p, .body.team div.sidebar div ul li p, .body.team-single div.sidebar div ul li p, .body.videos div.sidebar div ul li p, .body.about div.sidebar div ul li p, .body.schedule div.sidebar div ul li p {
	background:url(../images/icon-arrow-right.png) no-repeat scroll left 17px transparent;
	color:#fff;
	font-size:12px;
	font-weight:700;
	line-height:18px;
	margin:0;
	padding:12px 0 14px 10px;
}
.body.home div.sidebar div ul li p a, .body.news div.sidebar div ul li p a, .body.news-single div.sidebar div ul li p a, .body.team div.sidebar div ul li p a, .body.team-single div.sidebar div ul li p a, .body.videos div.sidebar div ul li p a, .body.about div.sidebar div ul li p a, .body.schedule div.sidebar div ul li p a {
	color:#fff;
	font-size:12px;
	font-weight:700;
	line-height:18px;
	margin:0;
	text-transform:none;
	float:none;
	text-decoration:none;
	font-weight:normal;
	font-family: 'Josefin Sans', sans-serif;
}
.body.home div.sidebar div a, .body.news div.sidebar div a, .body.news-single div.sidebar div a, .body.team div.sidebar div a, .body.team-single div.sidebar div a, .body.videos div.sidebar div a, .body.about div.sidebar div a, .body.schedule div.sidebar div a {
	color:#FF7500;
	float:right;
	font-family: 'Josefin Sans', sans-serif;
	font-size:10px;
	line-height:18px;
	margin:2px 20px 4px 0;
	text-transform:uppercase;
}
.body.news, .body.news-single, .body.team, .body.team-single, .body.videos, .body.about, .body.schedule {
	overflow:hidden;
}
.body.news div:first-child ul li div p a:hover, .body.news-single div:first-child div p a:hover, .body.news-single div:first-child div.section p a:hover, .body.team div:first-child div p a:hover {
	color:#ff7500;
}
.body.news div.sidebar, .body.news-single div.sidebar, .body.team div.sidebar, .body.team-single div.sidebar, .body.videos div.sidebar, .body.about div.sidebar, .body.schedule div.sidebar {
	background:none #030303;
	float:right;
	width:220px;
}
.body.news-single div:first-child a#paging, .body.team-single div:first-child a#paging {
	color:#FF7500;
	float:right;
	font-family: 'Josefin Sans', sans-serif;
	font-size:12px;
	margin:-27px 20px 0;
	text-transform:uppercase;
}
.body.news-single div:first-child div img, .body.team div:first-child div img, .body.team-single div:first-child div span img, .body.videos div:first-child div img, .body.about div:first-child div img {
	border:5px solid #030303;
	display:block;
}
.body.news-single div:first-child div p a, .body.team div:first-child div p a {
	color:#5e5e5e;
}
.body.news-single div.sidebar div, .body.team div.sidebar div, .body.team-single div.sidebar div, .body.videos div.sidebar div, .body.about div.sidebar div, .body.schedule div.sidebar div {
	background:none repeat scroll 0 0 #1F1F1F;
	border:0;
	float:none;
	margin:0 0 15px;
	overflow:hidden;
	padding:0;
	width:220px;
}
.body.team div:first-child, .body.team-single div:first-child {
	background:none repeat scroll 0 0 transparent;
	float:left;
	min-height:1159px;
	padding:0 0 29px;
	width:716px;
}
.body.team div:first-child span:first-child, .body.team-single div:first-child span, .body.about div:first-child span:first-child {
	background:url("images/icons.png") no-repeat scroll 20px -417px #030303;
	color:#FF7500;
	display:block;
	font-family: 'Josefin Sans', sans-serif;
	font-size:30px;
	height:47px;
	line-height:44px;
	padding:0 0 0 65px;
	text-transform:uppercase;
}
.body.team div:first-child div, .body.videos div:first-child div {
	clear:both;
	padding:18px 20px 13px 17px;
}
.body.team div:first-child div h3, .body.videos div:first-child div h3 {
	margin:16px 0 0;
}
.body.team div:first-child div.section, .body.videos div:first-child div.section {
	padding-left:0;
	padding-right:0;
}
.body.team-single div:first-child div p a:hover, .body.videos div:first-child div p a:hover, .body.about div:first-child div p a:hover, .body.schedule div:first-child div ul li div p a:hover {
	color:#FF7500;
}
.body.videos div:first-child div p a, .body.about div:first-child div p a {
	color:#5E5E5E;
}
.body.videos div:first-child div.section ul li a img, .body.schedule div:first-child div ul li:first-child {
	border:0;
}
#msg {
	position: absolute;
	left: 340px;
	top: 150px;
	width: 578px;
	padding: 20px;
	text-align: center;
	background: rgba(0,0,0,1.0);
	font-size: 30px;
	color: #999999;
	border: 2px solid #999999;
}
h3 {
	color: #666;
}

#video {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}

#myvideo{
	width: 100%;
	height: 100%;
    position:absolute;
	top: 20px;
	left: 20px;
}
